body {
    text-align: center;
    background-color: whitesmoke;
    overflow-x: hidden;
}
div#wapper {
    width: 100vw;
    height: 100vh;
    text-align: left;
    min-height: 300px;
    margin: 0 auto;
}
header, footer, nav, aside, section {
    background-color: whitesmoke
}
header {
    height: 10vh;
    text-align: center;
}
nav, section, aside {
    float: left;
    height: 120vh;
}
nav{
    width: 27vw;
}
section {
    width: 46vw; 
}
aside {
    width: 27vw;
}
footer {
    height: 9vh;
    position: relative;
    clear: both;
}
article {
    width: 90%;
    margin: 20px;
    background-color: #999;
}