@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

.Box{
    width: 46vw; 
    margin: auto;
    text-align: left;
}

.optionTitle{
    margin-top: 50px;
    margin-left: 10px;
}

.optionSettingBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,.1);
    margin: 10px;
    padding: 30px;
    border: 3px solid rgb(12, 10, 10);
}

.optionInputItem{
    max-width: 100%;
    margin-left: 5px;
    padding: 5px;
}

.optionSelectBox{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,.1);
    margin: 10px;
    margin-top: 10px;
    padding: 30px;
    border: 3px solid rgb(12, 10, 10);
}

.optionSelectItem{
    margin: 5px;
    margin-bottom: 0px;
}

.priceInputBox{
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,.1);
    margin: 100px;
    margin-top: 10px;
    padding-bottom: 30px;
}

input[type=text]{
    width: 100%;  /* 원하는 너비 설정 */ 
    height: inherit;  /* 높이값 초기화 */
    line-height : normal;  /* line-height 초기화 */
    padding-left: .3em; /* 원하는 여백 설정, 상하단 여백으로 높이를 조절 */
    font-family: inherit;  /* 폰트 상속 */
    font-size: inherit;
    border: 0;
    border-radius: 0;  /* iSO 둥근모서리 제거 */
    outline-style: none;  /* 포커스시 발생하는 효과 제거를 원한다면 */
    -webkit-appearance: none;  /* 브라우저별 기본 스타일링 제거 */
    -moz-appearance: none;
    appearance: none;
}

.priceInputItem{
    display: inline-block;
}

.inlineSelect{
    display: inline-block;
    width: fit-content;
    max-width: 70%;
}

.buttonContainer{
    display:flex;
    justify-content: flex-end;
}


.iconBtn{
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0;
    background-color: white;
    float: right;
}

.submitBtn{
    position: relative;
    top: 50%;
    left: 50%;
}

.toolImg{
    vertical-align:middle;
    max-width: 50px;
    max-height: 50px;
    object-fit: cover;
}

.btnImg{
    vertical-align:middle;
    max-width: 25px;
    max-height: 25px;
    object-fit: cover;
    background-color: white;
    padding-top: 10px;
}

.Modal{
    z-index: 100;
    position: relative;
    margin: auto;
    width: 46vw; 
    height: 96vh;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,.1);
}

.blackBackground{
    z-index:90;
    background-color: rgba(0, 0, 0, .5);
    height: 3600px;
    left: 0;
    position: fixed;
    top: 0;
    transition: all .2 ease-in-out;
    width: 100%;
}

.resultTitle{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    width: inherit;
    height: 16%;
    text-align: center;
    
    border: solid;
    border-width: 1px;
}

.resultTableCell{
    display: table-cell;
    margin: auto;
    padding-left: 20px;
    height: 32%;
    width: 50%;
    overflow: hidden;

    border: solid;
    border-width: 2px;


}

.resultTitleContent{
    position: relative;
    margin: auto;
}

.resultTable{
    margin: auto;
    background-color: white;
    width: inherit;
    height: 84%;
    text-align: left;
    display: table;
}

.resultTableRow{
    display: table-row;
}

.wrapperBtn{
    margin: 10px;
    margin-top: 75px;
    text-align: center;
}


.w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.w-btn-indigo {
    background-color: white;
    color: brown
}

.w-btn:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
 
    cursor: pointer;
}

a:link {
    color : black;
    text-decoration: none;
  }
a:visited {
color : black;
text-decoration: none;
}
a:hover {
color : orange;
text-decoration: none;
}
a:active {
color : black;
text-decoration: none;
}